<div class="create-post">
  <form class="create-post-form">
    <input type="text" class="create-post-bar" placeholder="Create post" size='50' />
  </form>
</div>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-div">
      <div class="home-post-points">
        <p class="home-inc-points">&#9650;</p>
        <span class="home-points"><%= display_points(post.points) %></span>
        <p class="home-dec-points">&#9660;</p>
      </div>

      <div class="home-post-title">
        <%= link_to post.title, post_path(post.id) %>
      </div>

      <div class="home-post-info">
        <div class="home-post-date-user">
          Submitted <%= time_diff(post.created_at) %> ago by <%= post.user.username %>
        </div>
        <div class="post-comments-info">
          <%= link_to display_comments(post.comments.length), post_path(post.id) %>
        </div>
      </div> <%# End of home-post-info %>

    </div> <%# End of post-div %>
  <% end %>
</div>
