<div class="create-post">
  <form class="create-post-form">
    <input type="text" class="create-post-bar" placeholder="Create post" size='50' />
  </form>
</div>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-div">
      <div class="home-post-points">
        <% if user_signed_in? && checkVoted(current_user.id, post.id) %>
          <% if current_user.votes.where(:post_id => post).first.value == "up" %>
            <%= link_to raw("&#9650;"), points_up_post_path(post.id), class: "home-inc-points voted" %>
            <span class="home-points"><%= display_points(post.points) %></span>
            <%= link_to raw("&#9660;"), points_down_post_path(post.id), class: "home-dec-points" %>
          <% elsif current_user.votes.where(:post_id => post).first.value == "down" %>
            <%= link_to raw("&#9650;"), points_up_post_path(post.id), class: "home-inc-points" %>
            <span class="home-points"><%= display_points(post.points) %></span>
            <%= link_to raw("&#9660;"), points_down_post_path(post.id), class: "home-dec-points voted" %>
          <% end %>
        <% else %>
          <%= link_to raw("&#9650;"), points_up_post_path(post.id), class: "home-inc-points" %>
          <span class="home-points"><%= display_points(post.points) %></span>
          <%= link_to raw("&#9660;"), points_down_post_path(post.id), class: "home-dec-points" %>
        <% end %>
      </div>
      <div class="home-post-title">
        <%= link_to post.title, post_path(post.id) %>
      </div>
      <div class="home-post-info">
        <div class="home-post-date-user">
          Submitted <%= time_diff(post.created_at) %> ago by <%= link_to post.user.username, user_path(post.user_id) %>
        </div>
        <div class="post-comments-info">
          <%= link_to display_comments(post.comments.length), post_path(post.id) %>
        </div>
      </div> <%# End of home-post-info %>
    </div> <%# End of post-div %>
  <% end %>
</div>
