<div class="edit_user_form">
  <h2><%= @user.username %> / Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter new email to change" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i class="faded">(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Please enter a password with #{@minimum_password_length} characters minimum"  %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Please re-enter the password above" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i class="faded">(required)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Please enter the current password to verify ownership" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
      <%= link_to "Back", :back %>
    </div>
  <% end %>
  <br /><br />

  <div class="edit_user_delete">
    <p>Want to delete your account? <%= link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>