<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Post ID:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @comment.points %>
</p>

<p>
  <strong>Parent ID:</strong>
  <%= @comment.parent_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
