<div class="column content-div profile">
  <div class="tab-div">
    <button class="tabs" onclick="pageSelectView(event, 'overview')" id="default">Overview</button>
    <button class="tabs" onclick="pageSelectView(event, 'posts')">Posts</button>
    <button class="tabs" onclick="pageSelectView(event, 'comments')">Comments</button>

    <% if @user == current_user %>
      <div class="actions delete">
        <%= link_to 'Edit account', edit_user_registration_path() %>
      </div>
    <% end %>
  </div>
  <div class="view" id="overview">
    <% combined = (@user.posts.all + @user.comments.all).sort_by { |p| [p.created_at] }.reverse %>
    <% if combined.empty? %>
      <p class="post empty">User currently has not posted anything yet.</p>
    <% end %>
    <% combined.each do |element| %>
      <% if element.is_a?(Post) %>
        <div class="profile-posts">
          <%= link_to image_tag('logo.png'), post_path(element.id) %>
          <div>
            <h2><%= link_to element.title, post_path(element.id) %></h2>
            <div class="profile-posts-info">
              Submitted <%= time_diff(element.created_at) %> ago by <%= link_to element.user.username, user_path(element.user_id) %> <br/>
              <div class="profile-posts-comments-info">
                <%= link_to display_comments(element.comments.length), post_path(element.id) %>
              </div>
            </div>
          </div>  
        </div>
      <% else %>
        <div class="profile-comments">
          <div class="profile-comments-post-name">
            <%= link_to element.user.username, user_path(element.user.id) %> commented on <%= link_to element.post.title, comment_path(element.id) %> in <%= link_to element.post.tag.name, tag_path(element.post.tag.id) %> by <%= link_to element.post.user.username, user_path(element.post.user_id) %>
          </div>
          <div class="profile-comments-indent">
            <p class="faded"><%= link_to element.user.username, user_path(element.user.id) %>&emsp;<%= element.points %> point&emsp;<%= time_diff(element.created_at) %> ago</p>
            <%= sanitize element.body %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="view" id="posts">
    <% if @user.posts.empty? %>
      <p class="post empty">User currently has not posted any posts yet.</p>
    <% end %>
    <% @user.posts.reverse.each do |post| %>
      <div class="profile-posts">
        <%= link_to image_tag('logo.png'), post_path(post.id) %>
        <div>
          <h2><%= link_to post.title, post_path(post.id) %></h2>
          <div class="profile-posts-info">
            Submitted <%= time_diff(post.created_at) %> ago by <%= link_to post.user.username, user_path(post.user_id) %> <br/>
            <div class="profile-posts-comments-info">
              <%= link_to display_comments(post.comments.length), post_path(post.id) %>
            </div>
          </div>
        </div>  
      </div>
    <% end %>
  </div>
  <div class="view" id="comments">
    <% if @user.comments.empty? %>
      <p class="post empty">User currently has not posted any comments yet.</p>
    <% end %>
    <% @user.comments.reverse.each do |comment| %>
      <div class="profile-comments">
        <div class="profile-comments-post-name">
            <%= link_to comment.user.username, user_path(comment.user.id) %> commented on <%= link_to comment.post.title, comment_path(comment.id) %> in <%= link_to comment.post.tag.name, tag_path(comment.post.tag.id) %>
        </div>
        <div class="profile-comments-indent">
            <p class="faded"><%= link_to comment.user.username, user_path(comment.user.id) %>&emsp;<%= comment.points %> point&emsp;<%= time_diff(comment.created_at) %> ago</p>
            <%= sanitize comment.body %>
        </div>
        </div>
    <% end %>
  </div>
</div>

<div class="column user-div">
  <h2><%= @user.username %></h2>
  <p><span class="bold"><%= @user.post_total %></span> post points</p>
  <p><span class="bold"><%= @user.comment_total %></span> comment points</p>
  <p>This account is <%= time_diff(@user.created_at) %> old</p>
  <% if !@user.admin? && (user_signed_in? && current_user.admin?) %>
    <%= form_for @user do |f| %>
      <%= f.hidden_field :admin, :value => "true" %>
      <%= f.submit "Make admin" %>
    <% end %>
  <% end %>
</div>