<div class="comment">
  <div class="comment-info-div">
    <%= comment.user.username %>&emsp;<%= comment.points %> point&emsp;<%= time_diff(comment.created_at) %> ago
  </div>
  <div class="comment-body">
    <%= comment.body %>
    <div class="actions reply">
      <% if user_signed_in? %>
        <button onclick="submitCommentForm(<%= @post.id %>, <%= current_user.id %>, <%= comment.id %>, '<%= comment.ancestry %>')">reply</button>
      <% else %>
        <%= button_to "reply", new_user_session_path, :method => "get" %>
      <% end %>
    </div>
  </div>
</div>