<div class="new-post-container">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field title">
      <%= form.text_field :title, placeholder: "Title" %>
    </div>

    <% if post.persisted? %>
      <div class="field">
        <%= form.text_field :tag_id, :value => Tag.find_by_id(post.tag_id).name, placeholder: "Select or create a tag", list: "tag_list" %>
        <datalist id="tag_list">
          <% Tag.all.each do |tag| %>
            <option><%= sanitize tag.name %></option>
          <% end %>
        </datalist>
      </div>
    <% else %>
      <div class="field">
        <%= form.text_field :tag_id, :value => "", placeholder: "Select or create a tag", list: "tag_list" %>
        <datalist id="tag_list">
          <% Tag.all.each do |tag| %>
            <option><%= sanitize tag.name %></option>
          <% end %>
        </datalist>
      </div>
    <% end %>

    <div class="field body">
      <%= form.text_area :body, placeholder: "Enter your text here..." %>
    </div>
    
    <div class="field">
      <%= form.hidden_field :user_id %>
    </div>

    <div class="field">
      <%= form.hidden_field :points, value: 1 %>
    </div>

    <div class="actions">
      <%= form.submit %>
      <% if post.persisted? %>
        <%= link_to 'Back', :back %>
      <% else %>
        <%= link_to 'Back', root_path %>  
      <% end %>
    </div>
  <% end %>
</div>