<p id="notice"><%= notice %></p>

<div class="original-post">
  <div class="post-heading">

    <div class="post-points">
      <% if user_signed_in? && checkVoted(current_user.id, @post.id) %>
        <% if current_user.votes.where(:post_id => @post).first.value == "up" %>
          <%= link_to raw("&#9650;"), points_up_post_path(@post.id), class: "post-show-inc-points voted" %>
          <span class="points-span"><%= display_points(@post.points) %></span>
          <%= link_to raw("&#9660;"), points_down_post_path(@post.id), class: "post-show-dec-points" %>
        <% elsif current_user.votes.where(:post_id => @post).first.value == "down" %>
          <%= link_to raw("&#9650;"), points_up_post_path(@post.id), class: "post-show-inc-points" %>
          <span class="points-span"><%= display_points(@post.points) %></span>
          <%= link_to raw("&#9660;"), points_down_post_path(@post.id), class: "post-show-dec-points voted" %>
        <% end %>
      <% else %>
        <%= link_to raw("&#9650;"), points_up_post_path(@post.id), class: "post-show-inc-points" %>
        <span class="points-span"><%= display_points(@post.points) %></span>
        <%= link_to raw("&#9660;"), points_down_post_path(@post.id), class: "post-show-dec-points" %>
      <% end %>
    </div>
    <div class="post-title">
      <%= @post.title %>
    </div> <%# End of post-title %>

    <table class="post-info-table">
      <tbody class="post-info-tbody">
        <tr>
          <td><%= @post.tag %></td>
        </tr>
        <tr>
          <td>Posted <%= time_diff(@post.created_at) %> ago</td>
          <td>by <%= @post.user.username %></td>
        </tr>
      </tbody>
    </table>
  </div> <%# End of post-heading %>

  <div class="post-body-div">
    <div class="post-body">
      <%= @post.body %>
    </div>
  </div> <%# End of post-body-div %>

  <div class="post-extra-div">
    <%= link_to display_comments(@post.comments.length), post_path(@post.id) %>
    <a href="#">share</a>
    <% if @post.user == current_user %>
      <%= link_to 'edit', edit_post_path(@post) %>
      <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div> <%# End of original-post %>

<div class="comments-section">
  <div class="actions new_comment">
    <% if user_signed_in? %>
      <button onclick="submitCommentForm(<%= @post.id %>, <%= current_user.id %>)">Add comment</button>
    <% else %>
      <%= button_to "Login to comment", new_user_session_path, :method => "get" %>
    <% end %>
  </div>

  <div class="comment-div">
    <% @post.comments.each do |comment| %>
      <% if comment.root? %>
        <% if comment.children? %>
          <%= nested_comments(comment.subtree.arrange) %>
        <% else %>
          <%= render "comments", comment: comment %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

