<p id="notice"><%= notice %></p>

<div class="original-post">
  <div class="post-heading">

    <div class="post-points">
      <p class="inc-points" id="up-points">&#9650;</p>
      <span class="points"><%= @post.points %></span>
      <p class="dec-points" id="down-points">&#9660;</p>
    </div>
    <div class="post-title">
      <%= @post.title %>
    </div> <%# End of post-title %>

    <table class="post-info-table">
      <tbody class="post-info-tbody">
        <tr>
          <td><%= @post.tag %></td>
        </tr>
        <tr>
          <td>Posted <%= time_diff(@post.created_at) %> ago</td>
          <td>by <%= @post.user.username %></td>
        </tr>
      </tbody>
    </table>
  </div> <%# End of post-heading %>

  <div class="post-body-div">
    <div class="post-body">
      <%= @post.body %>
    </div>
  </div> <%# End of post-body-div %>

  <div class="post-extra-div">
    <%= link_to display_comments(@post.comments.length), post_path(@post.id) %>
    <a href="#">share</a>
    <% if @post.user == current_user %>
      <%= link_to 'edit', edit_post_path(@post) %>
      <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div> <%# End of original-post %>


<div class="comments-section">
  <button onclick="submitCommentForm(<%= @post.id %>, <%= current_user.id %>)">Add comment</button>

  <div class="comment-div">
    <% @post.comments.each do |comment| %>
      <div class="comment-info-div">
        <%= comment.user.username %>&emsp;<%= comment.points %> point&emsp;<%= time_diff(comment.created_at) %> ago
      </div>
      <div class="comment-body">
        <%= comment.body %>
      </div>
    <% end %>
  </div>
</div>

