<!DOCTYPE html>
<html>
  <head>
    <title>Readit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller_name == 'comments' %>
      <header>
        <%= image_tag('logo.png')%>
        <h1><%= link_to 'Readit', root_path %></h1>

        <div class="accounts">
          <% if user_signed_in? %>
            <%= link_to "#{current_user.username}", user_path(current_user.id) %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Log in", new_user_session_path %>
          <% end %>
        </div>
      </header>
    <% end %>
    
    <% if notice %>
      <div class="notice_div">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert_div">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
